.button {
    height: 25%;
    width: 20%;
    position: absolute;
    border-radius: 6px;
    box-shadow: 10 10;
    background-color: lemonchiffon;
}

.button:hover {
    background-color: mediumblue;
    color: gold;
}
