html {
    overflow: hidden;
}

body {
    background-color: rgb(45, 156, 156);
}

.app {
    position: "absolute";

    height: 100%;
    width: 100%;
}

.nav {
    position: relative;
    text-align: center;
}

.centerText {
    text-align: center;
}
